.box{
    margin: 20px 0px;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px -5px gray;
    border-radius: 5px;
    position: relative;
}
.number{
    position: absolute;
    top: -18px;
    left: -8px;
    font-size: 35px;
    padding: 2px;
    font-family: 'Dancing Script', cursive;
    color: brown;
}
.text{
    padding: 0px 15px;
}