
@media only screen and (max-width: 600px) {
    .title {
        font-size: 40px;
        font-family: Josefin Slab, serif;
        font-weight: 200;
    }

    .description {
        font-size: 22px;
        text-align: 'center';
        margin: '10px 30px';
        font-family: Josefin Slab, serif;
    }
}
@media only screen and (min-width: 600px) {
    .title {
        font-size: 40px;
        font-family: Josefin Slab, serif;
        font-weight: 200;
    }

    .description {
        font-size: 25px;
        text-align: 'center';
        margin: '10px 30px';
        font-family: Josefin Slab, serif;
    }
}