@media only screen and (max-width: 600px) {
    .image {
        display: none
    }
    .ed_desc {
        text-align: 'center';
    }
}

.education {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.degree {
    font-weight: 700;
    
}

.logo{
    text-align: right,
}